/* colors */

$black: #000;
$white: #fff;

/* dimensions */

$burgerWh: 36px;

/* media breakpoints */

$w1600: 1600px;
$w1440: 1440px;
$w1376: 1376px;
$w1280: 1280px;
$w1152: 1152px;
$w1024: 1024px;
$w992: 992px;
$w768: 768px;
$w576: 576px;
$w480: 480px;
$w425: 425px;
$w375: 375px;
$w360: 360px;
$w320: 320px;
$w280: 280px;