include ../../components/burger/burger
.container
  .header
    .header-burger
      +burger
    .header-logo
      .header-logo__img
         //img(data-src="none",class="lazyload", width="126", height="49", loading="lazy", alt="")
    .header-nav
      ul.header-nav__ul
        li
          a(href="#") Item 1
        li
          a(href="#") Item 2
        li
          a(href="#") Item 3
    .header-feedback