.accordion {
    &-items {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        &_item {
            padding: 16px;
            border: 1px solid #e7e7e7;
            border-radius: 8px;
            margin-bottom: 8px;
        }
        &_content {
            display: none;
        }
        &_top {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            font-weight: 600;
        }
        &_arrow {
            cursor: pointer;
            svg {
                transition: transform 0.2s ease-out;
            }
            &.is-active {
                svg {
                    transform: rotate(-180deg);
                }
            }
        }
    }
}