.container
  .footer
    .footer-logo
      .footer-logo__img
        img(src="", alt="")
    .footer-nav
      ul.footer-nav__ul
        li
          a(href="#") Item 1
        li
          a(href="#") Item 2
        li
          a(href="#") Item 3
    .footer-feedback